 .login-section{
    background: #FAFAFA;
 }
 .form-inner h3{
    margin: 0 0 25px;
    font-size: 25px;
    font-weight: 400;
 }
 .form-inner h2{
  
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
 }
 .form-inner {
    max-width: 500px;
    width: 100%;
    padding: 0 15px;
    text-align: center;
   
    margin: auto;
    padding: 80px 0;
}

.form-section h3 {
    margin: 0 0 25px;
    font-size: 25px;
    font-weight: 400;
}

 .form-group {
    margin-bottom: 25px;
}

.form-control {
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    height: 50px;
    color: #616161;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid #0000001c;
    background: #fff;
    box-shadow: none;
}

.form-control:focus {
 
    box-shadow:none !important;
}

 .checkbox label {
    padding-left: 0px;
    font-size: 16px;
    color: #616161;
}

 .checkbox .terms {
    margin-left: 3px;
}

.form-group {
    margin-bottom: 25px;
}

.login-section .btn {
    width: 100%;
    background: #ff214f!important;
    position: relative;
    display: inline-block;
    border: none;
    outline: none !important;
    color: #ffffff;
    text-transform: capitalize;
    transition: all 0.6s linear;
    z-index: 1;
    overflow: hidden;
    font-weight: 400;
    border-radius: 3px;
    padding: 0 30px;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

.btn-4:hover:after {
    transform: perspective(200px) scaleX(1.05) rotateX(0deg) translateZ(0);
    transition: transform 0.6s linear, transform 0.6s linear;
}
.btn-4:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #212529;
    content: "";
    border-radius: 0;
    transform: perspective(200px) scaleX(0.1) rotateX(90deg) translateZ(-10px);
    transform-origin: bottom center;
    transition: transform 0.6s linear, transform 0.6s linear;
    z-index: -1;
}

 .extra-login {
    float: left;
    width: 100%;
    margin: 0 0 25px;
    text-align: center;
    position: relative;
}

.extra-login span{
    background: #FAFAFA;
    position: relative;
    padding: 0 13px;
    z-index: 1;
}



.extra-login::before {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 1px;
    background: #d8dcdc;
    content: "";
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.form-inner p {
    color: #616161;
    margin-bottom: 0;
    text-align: center;
    font-size: 16px;
}

.form-inner p a.thembo{
    color: #ff214f!important;
    text-decoration: none;
}

.forgot-password{
    color: #ff214f!important;
    text-decoration: none;
}

button.google-bg {
    width: 100%;
    padding: 11px 19px;
    background: no-repeat;
    border-radius: 50px;
    margin: 20px 0;
}

span.google-login {
    margin-left: 20px;
}