a.logo {
    font-size: 23px;
    font-weight: 800;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.menu a {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans';
    text-decoration: none;
    color: #515151;
}

.menu a:hover{
    color: #ff214f!important;
}

.dropdown-menu.show {
    padding: 13px;
}


.login-Button :hover a {
    color: #fff !important;
    text-decoration: none !important;
}
.login-Button a {
    text-decoration: none !important;
}