/* category area */
.category-area{
    padding: 50px 0;
}

.category-text{
background-position: center;
background-repeat: no-repeat;
text-align: center;
background-color: #391717b0;
border-radius: 5px;
}

.category-text a{
    text-decoration:none;
}

.category-text h2{
    color: #fff;
    padding: 20px 0;
}

/* banner-area  */
.banner-area{
    background-image: url('https://storage.googleapis.com/theme-vessel-items/checking-sites/carhouse-html/HTML/main/img/car-3.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    font-family: 'Open Sans', sans-serif;
}

.banner h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: normal;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}

.banner p {
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(41 41 41 / 50%);
    color: #fff;
}

.banner-button {
    background: #fff !important;
}

.banner-button:hover{
    
    background:#f0151f !important;
    color:#fff  !important;

}
/* servuce */
.bg-grea-3 {
    background: #f9f9f8;
    padding: 100px 0;
}

.service-info-2 {
    padding: 50px 20px 50px 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    z-index: 3;
    background: #fff;
    text-align: center;
    border-radius: 5px;
}

.service-info-2:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 0px 70px 0px;
    margin-top: 0px;
    -webkit-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.service-info-2 .icon {
    margin-bottom: 20px;
}

.service-info-2 .icon i, .service-info-2 .icon-inner i {
    position: relative;
    width: 45px;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    transition: all 600ms ease;
    display: inline-block;
    color: #ffac37;

}

.service-info-2:hover:before {
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.service-info-2:before {
    background: -webkit-linear-gradient(#ffac37, #e22c65);
}



.service-info-2:hover .icon i, .service-info-2:hover h5, .service-info-2:hover p, .service-info-2:hover a {
  
    color: #fff;    
}

.service-info-2 h5 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.read-more {
    color: #f0151f;
}

/* team */

.our-team{
    padding: 100px 0;
    background: #fff;
}

.team-1{
   
    background-color: #f9f9f8;
    padding-bottom: 30px;
}

.content h4 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.content {
    text-align: center;
    margin: 14px 0;
}