/* category area */
.category-area{
    padding: 50px 0;
}

.category-text{
background-position: center;
background-repeat: no-repeat;
text-align: center;
background-color: #391717b0;
border-radius: 5px;
}

.category-text a{
    text-decoration:none;
}

.category-text h2{
    color: #fff;
    padding: 20px 0;
}

/* banner-area  */
.banner-area{
    background-image: url('https://storage.googleapis.com/theme-vessel-items/checking-sites/carhouse-html/HTML/main/img/car-3.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    font-family: 'Open Sans', sans-serif;
}

.banner h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: normal;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}

.banner p {
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(41 41 41 / 50%);
    color: #fff;
}

.banner-button {
    background: #fff !important;
}

.banner-button:hover{
    
    background:#f0151f !important;
    color:#fff  !important;

}